@font-face {
    font-family: panpizza;
    src: url(font/panpizza.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

body{
    font-family: panpizza;
}

.md-bg-pizzaria{
    background: url(img/bg-pizzaria.jpg) no-repeat center center / cover;
}

.md-font-pizza{
    font-family: panpizza;
}

.md-font-lato{
    font-family: Lato;
}

.md-titulos-geral{
    color: white;
    height: 52px;
    font-size: 52px;
}

.md-titulos-sabor{
    color: white;
    height: 32px;
    font-size: 36px;
}

.md-valor-sabor{
    color: white;
    height: 32px;
    margin-top: -6px;
    font-size: 36px;
}

.md-descricao-sabor{
    padding: 0 8px 0 8px;
    font-size: 18px;
}

.md-texto-22px{
    height: 22px;
    font-size: 22px;
}

.md-texto-24px{
    font-size: 24px;
}

.text-color-1{
    color: #FFA800;
}

.md-bg-s1{
    background: url(img/bg-s1.jpg);
    background-size: 100% 240px;
    background-attachment: fixed;
    height: 200px;
}

.md-bg-s2{
    background: url(img/bg-s2.png);
    background-position: 0px -80px;
    background-repeat: no-repeat;
    background-size: 100% 240px;
    height: 140px;
    border-radius: 12px 12px 0 0;
}

.md-bg-s3{
    background: url(img/bg-s3.jpg);
    background-position: 0px -50px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    border-radius: 12px 12px 0 0;
}

.md-bg-s4{
    background: url(img/bg-s4.jpg);
    background-position: 0px -50px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    border-radius: 12px 12px 0 0;
}

.md-bg-s5{
    background: url(img/bg-s5.jpg);
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    border-radius: 12px 12px 0 0;
}

.shadow-section{
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.8);
}

.md-logo-pizzaria{
    width: 260px;
}

.md-logo-pizzaria-footer{
    width: 100px;
}
/***Cores *****/
.md-bg-geral{
    background-color: #333333;
}

/***Fim Cores *****/


.md-pt-16px{
    padding-top: 16px;
}

.md-mb-8px{
    margin-bottom: 8px;
}

.md-mb-26px{
    margin-bottom: 26px;
}

.md-pb-16px{
    padding-bottom: 16px;
}